<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bots</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="error-dialog">
        <h2>Error!</h2>
        <p id="error-content">Error content lel</p>
    </div>
    <section class="content">
        <h1>Bot Manager</h1>
        <button id="btn-kill-all" class="btn btn-kill" onclick="killAll()" disabled>Kill All</button>
        <h3>Active Bots</h3>
        <div id="list-active-bots" class="bot-list">
        </div>            
        <h3>Inactive Bots</h3>
        <div id="list-inactive-bots" class="bot-list"></div>            
    </section>
    <script src="/static/js/site.js"></script>
</body>
</html>
